# --
# Custom/Kernel/Output/HTML/Templates/Standard/CustomerTicketMessage.tt - Pure Native OTOBO Banking Form
# --

<div id="MainBox" class="TicketMessage ARIARoleMain">
    <div class="Content">
        <h1 class="Center">[% Translate("Create a new Ticket") | html %]</h1>

        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate PreventMultipleSubmits">
            <input type="hidden" name="Action" value="[% Env("Action") %]"/>
            <input type="hidden" name="Subaction" value="Create"/>
            <input type="hidden" name="FormID" value="[% Data.FormID | html %]"/>
            <input type="hidden" name="Expand" value=""/>

            <fieldset>

[% RenderBlockStart("Queue") %]
                <div class="Row">
                    <div class="FieldCell">
                        <div class="Field">
                            [% Data.ToStrg %]
                        </div>
                        <label for="Dest" class="Mandatory">
                            [% Translate("To") | html %] <span class="Marker">*</span>
                        </label>
                        <div id="DestError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        <div id="DestServerError" class="TooltipErrorMessage NoJavaScriptMessage[% Data.QueueInvalid | html %]"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                </div>
[% RenderBlockEnd("Queue") %]

[% Data.DynamicFieldHTML %]

                <div class="Row [% Data.SubjectHiddenClass | html %]">
                    <div class="FieldCell">
                        <div class="Field">
                            <input title="[% Translate("Subject") | html %]" type="text" id="Subject" name="Subject" value="[% Data.Subject | html %]" class="[% Data.SubjectValidate | html %] [% Data.SubjectInvalid | html %]" />
                        </div>
                        <label for="Subject" class="Mandatory">
                            [% Translate("Subject") | html %] <span class="Marker">*</span>
                        </label>
                        <div id="SubjectError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                        <div id="SubjectServerError" class="TooltipErrorMessage NoJavaScriptMessage[% Data.SubjectInvalid | html %]"><p>[% Translate("This field is required.") | html %]</p></div>
                    </div>
                </div>

                <div class="Row [% Data.BodyHiddenClass | html %]">
                    <div class="FieldCell">
                        <div class="Field RichTextField">
                            <div class="RichTextHolder">
                                <textarea id="RichText" class="RichText [% Data.BodyValidate | html %] [% Data.BodyInvalid | html %]" name="Body" rows="15" cols="[% Config("Ticket::Frontend::TextAreaNote") %]">[% Data.Body | html %]</textarea>
                            </div>
                            <div id="RichTextError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="RichTextServerError" class="TooltipErrorMessage NoJavaScriptMessage[% Data.BodyInvalid | html %]"><p>[% Translate("This field is required.") | html %]</p></div>
                        </div>
                        <label for="RichText" class="Mandatory">[% Translate("Text") | html %] <span class="Marker">*</span></label>
                    </div>
                </div>

                <div class="Row [% Data.AttachmentsHiddenClass | html %]">
                    <div class="FieldCell">
                        <div id="oooAttachments" class="Field">
                            <div class="DnDUploadBox">
[% INCLUDE "FormElements/CustomerAttachmentList.tt" %]
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <div id="BottomActionRow" class="ActionRow">
                <button id="submitRichText" class="oooL" accesskey="g" title="[% Translate("Submit") | html %] (g)" type="submit" value="[% Translate("Submit") | html %]">[% Translate("Submit") | html %]</button>
            </div>
        </form>
    </div>
</div>
